[package]
name = "tiles_tools"
version = "0.1.0"
edition = "2024"
authors = ["Kostiantyn Mysnyk <wandalen@obox.systems>"]
license = "MIT"
repository = "https://github.com/Wandalen/cgtools"
description = "A library for organizing tiles into grids."
keywords = ["hexagonal", "grid", "tools"]

[lints]
workspace = true

[features]
default = [ "enabled" ]
enabled = [ "dep:error_tools", "dep:former", "dep:mod_interface", "dep:hecs", "dep:pathfinding", "dep:serde", "dep:ndarray_cg" ]
full = [ "enabled" ]
integration = []

[dependencies]
# Core wTools ecosystem
error_tools = { workspace = true, optional = true }
former = { workspace = true, optional = true }
mod_interface = { workspace = true, optional = true }

# ECS and core functionality  
hecs = { workspace = true, optional = true }
ndarray_cg = { workspace = true, optional = true }
pathfinding = { workspace = true, optional = true }
serde = { workspace = true, features = ["derive"], optional = true }

[dev-dependencies]
test_tools = { workspace = true }
