[workspace]

resolver = "2"
members = [
  "module/alias/*",
  "module/blank/*",
  "module/min/*",
  "module/helper/*",
  "module/math/*",
  "examples/minwebgl/*",
]

# Source :: https://github.com/obox-systems/conventions/blob/master/code_style.md#lints-and-warnings
[workspace.lints.rust]
# Enforces idiomatic Rust 2018 practices.
rust_2018_idioms = "deny"
# Prevents use of unstable features.
future_incompatible = "deny"
# # Encourages documentation for public items.
# missing_docs = "warn" # qqq : uncomment please
# # Suggests implementing Debug for public types.
# missing_debug_implementations = "warn" # qqq : uncomment please
# Warns against using unsafe code.
unsafe-code = "warn"

[workspace.lints.clippy]
# Warns against restrictive language patterns.
restriction = "warn"
# Enforces strict coding styles.
pedantic = "warn"
# Requires documentation for unsafe blocks.
undocumented_unsafe_blocks = "deny"
# Suggests using core instead of std when possible.
std_instead_of_core = "warn"
# Suggests using alloc instead of std when possible.
std_instead_of_alloc = "warn"
# Allows functions called only once.
single_call_fn = "allow"
# Permits #[inline(always)] usage.
inline_always = "allow"
# Allows repeated module names.
module_name_repetitions = "allow"
# Permits absolute paths in code.
absolute_paths = "allow"

# = draw

[workspace.dependencies.draw_lang]
version = "~0.1.0"
path = "module/draw/lang"

[workspace.dependencies.draw_lang_core]
version = "~0.1.0"
path = "module/draw/core"

[workspace.dependencies.draw_lang_derive]
version = "~0.1.0"
path = "module/draw/derive"

[workspace.dependencies.draw_lang_primitives]
version = "~0.1.0"
path = "module/draw/primitives"

[workspace.dependencies.draw_lang_transform]
version = "~0.1.0"
path = "module/draw/transform"

[workspace.dependencies.draw_lang_yew]
version = "~0.1.0"
path = "module/draw/yew"

# = min

[workspace.dependencies.mingl]
version = "~0.2.0"
path = "module/min/mingl"

[workspace.dependencies.minwebgl]
version = "~0.1.0"
path = "module/min/minwebgl"

# = helpers

[workspace.dependencies.browser_log]
version = "~0.3.0"
path = "module/helper/browser_log"

[workspace.dependencies.browser_tools]
version = "~0.2.0"
path = "module/alias/browser_tools"

# = math

[workspace.dependencies.ndarray_cg]
version = "~0.2.0"
path = "module/math/ndarray_cg"

[workspace.dependencies.ndarray_tools]
version = "~0.1.0"
path = "module/alias/ndarray_tools"

[workspace.dependencies.mdmath_core]
version = "~0.2.0"
path = "module/math/mdmath_core"

# = external dependencies

[workspace.dependencies.derive_tools]
version = "~0.29.0"

[workspace.dependencies.mod_interface]
version = "~0.25.0"

[workspace.dependencies.former]
version = "~2.9.0"

[workspace.dependencies.error_tools]
version = "0.17.0"

[workspace.dependencies.test_tools]
version = "~0.10.0"

[workspace.dependencies.clone_dyn_types]
version = "~0.23.0"

# = third-party dependencies

[workspace.dependencies.log]
version = "0.4.14"

[workspace.dependencies.wasm-bindgen]
version = "0.2.93"

[workspace.dependencies.js-sys]
version = "0.3.70"
features = []

[workspace.dependencies.web-sys]
version = "0.3.70"
features = []

[workspace.dependencies.bytemuck]
version = "1.18.0"
features = [ "derive" ]

[workspace.dependencies.ndarray]
version = "0.16.1"

[workspace.dependencies.approx]
version = "0.5.1"

[workspace.dependencies.num-traits]
version = "0.2.19"

[workspace.dependencies.wasm-bindgen-futures]
version = "0.4.43"

# [workspace.dependencies.generic-array]
# version = "1.1.0"

# [workspace.dependencies.static_assertions]
# version = "1.1.0"

[workspace.dependencies.tobj]
version = "4.0.2"
default-features = false
# features = [ "async" ]
