[package]
name = "mingl"
version = "0.2.0"
edition = "2021"
authors = [ "Kostiantyn Mysnyk <wandalen@obox.systems>" ]
license = "MIT"
repository = "https://github.com/Wandalen/cg_tools"
description = "Agnostic set of tools for abstract rendering backend."
readme = "readme.md"
keywords = [ "webgl" ]

[lints]
workspace = true

[features]

enabled = []
default = [
  "enabled",
  "ndarray",
]
full = [
  "default",
]

ndarray = [ "dep:ndarray" ]
camera_orbit_controls = []

diagnostics = [
  "objModel"
]
objModel = [
  "dep:tobj"
]

# Enable web related stuff
web = [
  "dep:wasm-bindgen-futures",
  "dep:wasm-bindgen",
  "dep:js-sys",
  "dep:web-sys",
]
# enable file handling on the web
webFile = []
# enable futures on the web
webFuture = []
webObjModel = [ "objModel", "webLog", "tobj/async" ]
webLog = [ "dep:browser_log" ]

[dependencies]

ndarray = { workspace = true, optional = true }
bytemuck = { workspace = true, features = [ "derive" ] } # xxx : replace
# anyhow = "1.0.48"
# slice-of-array = "0.3.1"
glam = "0.29.0"
cgmath = "0.18.0"
tobj = { workspace = true, optional = true }
browser_log = { workspace = true, optional = true }

ndarray_cg = { workspace = true }
error_tools = { workspace = true }
mod_interface = { workspace = true }
derive_tools = { workspace = true }
former = { workspace = true }

wasm-bindgen-futures = { workspace = true, optional = true }
wasm-bindgen = { workspace = true, optional = true }
js-sys = { workspace = true, optional = true }
web-sys = { workspace = true, optional = true, features = [
  'HtmlCanvasElement',
  'Window',
  'Document',
  'HtmlCollection',
  'CssStyleDeclaration',
  'HtmlElement',
  'RequestInit',
  'RequestMode',
  'Request',
  'Response',
  'Location',
  'DomTokenList'
]}

[dev-dependencies]
test_tools = { workspace = true }
