[package]
name = "minwebgl"
version = "0.2.0"
edition = "2021"
authors = [ "Kostiantyn Mysnyk <wandalen@obox.systems>" ]
license = "MIT"
repository = "https://github.com/Wandalen/cg_tools"
description = "Minimal set of tools for concise WebGL programming"
readme = "readme.md"
keywords = [ "webgl" ]

[lints]
workspace = true

[features]

enabled = [
  "dep:mingl",
  # "dep:bytemuck",
  "dep:asbytes",
  "dep:browser_log",
  "dep:wasm-bindgen-futures",
  "dep:wasm-bindgen",
  "dep:js-sys",
  "dep:web-sys",
]
default = [
  "enabled",
  "constants",
  "diagnostics",
  "web",
  "future",
  "file",
  "log"
]
full = [
  "default",
]

constants = [] # reflect contants

# diagnostics
diagnostics = [
  "mingl/diagnostics",
  "model_obj"
]

web = [ "mingl/web", "mingl/web_log" ] # common web utils
file = [ "mingl/web_file" ] # enable files handling
future = [ "mingl/web_future" ] # enable futures
model_obj = [ "mingl/web_model_obj" ] # enable futures
log = [ "mingl/web_log" ]

math = [ "mingl/math" ]

[dependencies]

# = internal

mingl = { workspace = true, optional = true }

# = external

asbytes = { workspace = true, optional = true }
# bytemuck = { workspace = true, optional = true, features = [ "derive" ] } # xxx : replace
# anyhow = "1.0.48"
# slice-of-array = "0.3.1"
# log = { workspace = true }
browser_log = { workspace = true, optional = true }

tobj =  { workspace = true, optional = true }

wasm-bindgen-futures = { workspace = true, optional = true }
wasm-bindgen = { workspace = true, optional = true }
js-sys = { workspace = true, optional = true }
web-sys = { workspace = true, optional = true, features = [
  'HtmlCanvasElement',
  'Window',
  'Document',
  'HtmlCollection',
  'CssStyleDeclaration',
  'HtmlElement',
  'ConsoleInstance',
  'console',
  'WebGl2RenderingContext',
  'WebGlProgram',
  'WebGlShader',
  'WebGlBuffer',
  'WebGlVertexArrayObject',
  'WebGlUniformLocation',
  'RequestInit',
  'RequestMode',
  'Request',
  'Response',
  'Location',
  'HtmlImageElement',
  'WebGlTexture',
  'HtmlVideoElement',
  'CanvasRenderingContext2d',
  'ImageData',
  'WebGlFramebuffer'
]}
